:root {
  --xs-font-size: 0.6em;
  --sm-font-size: 0.85em;
  --nm-font-size: 1em;
  --lg-font-size: 1.25em;
  --xl-font-size: 1.5em;
  --primary-font-style: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.App {
  display: flex;
  width: 100%;
  height: 100%;
  font-family: var(--primary-font-style);
}
.side {
  width: 40%;
  height: 100%;
  flex-direction: column;
  display: flex;
}

.control {
  padding: 0.3% 1.5%;
  display: flex;
}
.control.centeredDiv {
  width: 100%;
  align-items: center;
  justify-content: center;
}
.control.justifiedDiv {
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

.chart {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
}
.map {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.map-container {
  min-height: 100%;
  min-width: 100%;
}

.selector {
  width: 40%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 4px;
}
select {
  font-family: var(--primary-font-style);
}
select option:first-child {
  font-size: var(--sm-font-size);
}
.side select {
  width: 100%;
}

.title {
  font-size: var(--xl-font-size);
  font-weight: bolder;
  margin-top: 0;
  margin-bottom: 0;
  padding: 8px 0;
}
.titleSpan {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(51, 28, 104);
}
.label {
  width: 50%;
  text-align: center;
}
.line {
  margin: 0 20px;
  padding: 0;
}

/* Toggle Styling */
.switch {
  position: relative;
  display: flex;
  width: 36px;
  height: 16px;
  margin: auto 3px;
}
.toggleSpan {
  padding: 3px;
  margin-bottom: 0.25em;
  font-size: var(--nm-font-size);
  font-weight: 100;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

/*Map Styling*/
.info {
  padding: 6px 8px;
  font: 14px/16px var(--primary-font-style);
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  max-width: 200px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}
.legend {
  text-align: left;
  line-height: 10px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
.info.legend {
  width: 90px;
  height: 200px;
}
.legendText {
  font-size: var(--nm-font-size);
}
